<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Lanches</title>
    <link rel="stylesheet" type="text/css" href="static/style.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div>

      <table
        id="filter"
        class="table table-bordered table-dark table-hover"
        style="width: 100%"
      >
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Altura</th>
            <th scope="col">Intolerante a lactose</th>
            <th scope="col">peso</th>
            <th scope="col">atleta</th>
          </tr>
        </thead>
        <tbody>
          {% for lanches in lanches %}
          <tr>
            <th scope="row">{{lanches.Identificador}}</th>
            <td>{{ lanches.nome_usuario }}</td>
            <td>{{ lanches.altura }}</td>
            <td>
              {% if '1' in lanches.lactose %} {{ "true" }}{%- else
              %}{{"false"}}{% endif %}
            </td>

            <td>{{ lanches.peso }}</td>
            <td>
              {% if '1' in lanches.atleta %} {{ "true" }}{%- else
              %}{{"false"}}{% endif %}
            </td>
          </trt>
          {% endfor %}
        </tbody>
      </table>
    </div>

  </body>
</html>
